<%- include partials/header.ejs %>
<body>
        
        <div class="container">
            <div class="row">
                <p>Get in touch by following email.....</p>
                <p>mayankraval89@yahoo.com</p>
            </div>
    </div>
</body>
<%- include partials/footer.ejs %>
